<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css">
    <% if @stylesheet %>
    <link rel="stylesheet" href="/stylesheets/<%= @stylesheet %>">
    <% end %>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= yield %>
  </body>
</html>