//
// Index page Stylesheet
//

@import "partials/base";
@import "partials/global";

@import url(http://fonts.googleapis.com/css?family=Oswald:300);


// Screen animation
@-webkit-keyframes inverse {
    0%  { color: $white; background: $black; }
    50% { color: $black; background: $white; }
}
@-moz-keyframes inverse {
    0%  { color: $white; background: $black; }
    50% { color: $black; background: $white; }
}
@-o-keyframes inverse {
    0%  { color: $white; background: $black; }
    50% { color: $black; background: $white; }
}
@keyframes inverse {
    0%  { color: $white; background: $black; }
    50% { color: $black; background: $white; }
}

// Styles
#tv-container {
    .name {
        @include     animation(inverse, .1s, infinite);
        font-family: Oswald, sans-serif;
        font-size:   32vw;
    }
}